# Data Exploration
#### Juan Julián Cea Morán

### Import data
---

In [6]:
import pandas as pd
from os import walk

In [103]:
docs_df = pd.DataFrame(columns=['Name', 'Text', 'Lang', 'Category'])

cat = None
lang = None
for root, dirs, files in os.walk("../data/documents_challenge/", topdown=True):
    for _dir in dirs:
        cat = _dir
        for root2, dirs2, files2 in os.walk(os.path.join(root, _dir)):
            for _dir2 in dirs2:
                lang = _dir2
                for root3, dirs3, files3 in os.walk(os.path.join(root2, _dir2)):
                    for file in files3:
                        f = open(os.path.join(root3, file), 'r', encoding='utf-8')
                        docs_pd.loc[docs_pd.shape[0]] = [file, f.read(), lang, cat]
                        f.close()

    break

In [104]:
docs_df

,Name,Text,Lang,Category
0,apr-book-0-en.txt,"i read this book because in my town, everyone ...",en,APR
1,apr-book-1-en.txt,recipes appreciated by the family (small and l...,en,APR
2,apr-book-10-en.txt,i say no to ease ..... and not to the author w...,en,APR
3,apr-book-100-en.txt,milady has found a good vein: anita blake. bas...,en,APR
4,apr-book-1000-en.txt,"460 bc, somewhere in greece: ""gentlemen, i dec...",en,APR
...,...,...,...,...
23123,998787674-fr.txt,", Nuremberg |années actives = depuis 1998 |gen...",fr,Wikipedia
23124,998979048-fr.txt,Une cellule polyploïde (du grec : πολλαπλόν - ...,fr,Wikipedia
23125,999570169-fr.txt,", George W. Bush et Albert II le .]]La reine ...",fr,Wikipedia
23126,999735578-fr.txt,Sertã est une petite ville portugaise de 5 50...,fr,Wikipedia
23127,99977230-fr.txt,| imdb = 82158 Les Chariots de feu (Chariots ...,fr,Wikipedia

In [105]:
import pickle

output = open('../data/docs_df.pkl', 'wb')
pickle.dump (docs_df, output)
output.close()

Extraer número de idiomas, número de categorías, longitud del token más largo etc.